{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>
        Arcadia - {% block title %}{% endblock %}
    </title>
    {% block meta %}{% endblock %}
    {% include 'include/head.html' %}
</head>
<body>
<section id="page">
    <header>
        <div class="logo">
            <!--Replace Logo URL-->
            <a href="{% url 'index' %}">
                <img class="logo" src="{% static 'media/logo-light.png' %}">
            </a>
        </div>
        {% include 'include/nav.html' %}
    </header>
    {% block content %}
        <aside>
            {% block sidebar %}
                <div class="heading">
                    <h2>
                        {% block side_head %}{% endblock %}
                    </h2>
                    <hr>
                </div>
                <div class="scrollable">
                    {% block side_body %}{% endblock %}
                </div>
                {% block side_foot %}{% endblock %}
            {% endblock %}
        </aside>

        <main>
            {% block main %}
                <div class="heading">
                    <h1 id="explore-heading">
                        {% block main_head %}{% endblock %}
                    </h1>
                    <hr>
                </div>
                <div class="scrollable">
                    {% block main_body %}{% endblock %}
                </div>
                {% block main_foot %}{% endblock %}
            {% endblock %}
        </main>
    {% endblock %}

    <footer>© Arcadia 2019.</footer>
</section>
{% block extra %}{% endblock %}
{% block logic %}{% endblock %}
</body>
</html>
