{% load static %}
{% load kwacros %}
{% load pwa %}
{% kwacro title %}{% block title %}{% endblock %}{% endkwacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arcadia - {% usekwacro title %}</title>
    <!-- Meta start -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Progressive WebApp #}
    {% progressive_web_app_meta %}
    <link rel="manifest" href="/static/media/favicon/manifest.json">

    <meta property="og:title" content="{% usekwacro title %}"/>
    <meta property="og:description" content="{% block meta_desc %}Arcadia is online Game-Shop.{% endblock %}"/>
    <meta property="og:image"
          content="{% block meta_img %}{% static 'media/favicon/android-chrome-384x384.png' %}{% endblock %}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Arcadia"/>
    <!-- Meta end -->

    <!-- CSS start -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- CSS end -->

    <!-- favicon start -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/media/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/static/media/favicon/safari-pinned-tab.svg" color="#6e42c0">
    <link rel="shortcut icon" href="/static/media/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Arcadia">
    <meta name="application-name" content="Arcadia">
    <meta name="msapplication-TileColor" content="#6e42c0">
    <meta name="msapplication-config" content="/static/media/favicon/browserconfig.xml">
    <meta name="theme-color" content="#6e42c0">
    <!-- favicon end -->

    <!-- JS start -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type='text/javascript'
            src='//platform-api.sharethis.com/js/sharethis.js#property=5c4346ee058f100011a5aa93&product=social-ab'
            async='async'></script>
    <!-- JS end -->
</head>
<body>
<section id="page">
    <header>
        <div class="logo">
            <!--Replace Logo URL-->
            <a href="{% url 'index' %}">
                <img class="logo" src="{% static 'media/logo-light.png' %}">
            </a>
        </div>
        {% include 'include/nav.html' %}
    </header>
    {% block content %}
        <aside>
            {% block sidebar %}
                <div class="heading">
                    <h2>
                        {% block side_head %}{% endblock %}
                    </h2>
                    <hr>
                </div>
                <div class="scrollable">
                    {% block side_body %}{% endblock %}
                </div>
                <div style="margin-top: 10px !important;">
                    {% block side_foot %}{% endblock %}
                </div>
            {% endblock %}
        </aside>

        <main>
            {% block main %}
                <div class="heading">
                    <h1 id="explore-heading">
                        {% block main_head %}{% endblock %}
                    </h1>
                    <hr>
                </div>
                <div class="scrollable">
                    {% block main_body %}{% endblock %}
                </div>
                <div style="margin-top: 10px !important;">
                    {% block main_foot %}{% endblock %}
                </div>
            {% endblock %}
        </main>
    {% endblock %}

    <footer>© Arcadia 2019.</footer>
</section>
{% block extra %}{% endblock %}
{% block logic %}{% endblock %}
</body>
</html>
