{# Load Essentials #}
{% extends 'base.html' %}
{% load static %}
{% load arcadia_tags %}

{# Section : Header #}
{% block title %} Login {% endblock %}
{% block meta %} {# empty MetaTags #} {% endblock %}


{# Section : Sidebar #}
{% block side_head %} Arcadia's Latest {% endblock %}
{% block side_body %}
    <div id="new_game"></div>
{% endblock %}
{% block side_foot %} {# empty footer #} {% endblock %}


{# Section : Main #}
{% block main_head %} Ready. Set. Login. {% endblock %}
{% block main_body %}
    <form method="post" class="registration">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                    <p class="help-text">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        {{ form.non_field_errors }}
    </form>
    <button type="submit" onclick="$('.registration').submit()" class="btn btn-primary btn-lg btn-block">Login</button>
    <hr>
    <div id="social_auth" class="registration">
        <a class="btn btn-block btn-social btn-lg btn-github" href="{% url 'social:begin' 'github' %}">
            <span><img src="{% static 'media/github.svg' %}" class="icon24"></span> Login with GitHub
        </a>
        <a class="btn btn-block btn-social btn-lg btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
            <span><img src="{% static 'media/google.svg' %}" class="icon24"></span> Login with Google
        </a>
        <a class="btn btn-block btn-social btn-lg btn-twitter" href="{% url 'social:begin' 'twitter' %}">
            <span><img src="{% static 'media/twitter.svg' %}" class="icon24"></span> Login with Twitter
        </a>
    </div>
{% endblock %}
{% block main_foot %}
    <div>Forgot Password? <a href="{% url 'password_reset' %}">Reset.</a></div>
    <div>Not a member? <a href="{% url 'signup' %}">Register.</a></div>
{% endblock %}


{# Section : Extra Code #}
{% block extra %}
    {% if user.is_authenticated == False %}
        <div id="snackbar">Login to gain access!</div>
    {% endif %}
    {% if not user.is_anonymous %}
        <script type="text/javascript">
            window.location = "{% url 'index' %}"
        </script>
    {% endif %}
{% endblock %}


{# Section : Logic #}
{% block logic %}
    <script>
        $(document).ready(function () {
            let params = (new URL(document.location)).searchParams;
            let redirect = params.get("redirect");

            if (redirect && redirect.includes('access')) {
                let x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function () {
                    x.className = x.className.replace("show", "");
                }, 3000);
            }
            latest_game();
        });
    </script>
{% endblock %}
