{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block nav-desktop %}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="#">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Register</a>
    </li>
</ul>
{% endblock %}

{% block nav-mobile %}
<div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item active" href="#">Login</a>
        <a class="dropdown-item" href="{% url 'signup' %}">Register</a>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="floater">
    <div class="heading">
        <h2>Ready. Set. Go.</h2>
        <hr>
    </div>
    <div class="scrollable">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <p class="help-text">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            {{ form.non_field_errors }}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
        </form>
        <br>
        <div>Forgot Password? <a href="{% url 'password_reset' %}">Reset.</a></div>
        <div>Not a member? <a href="{% url 'signup' %}">Register.</a></div>
    </div>
</div>
{% endblock %}
