{# Load Essentials #}
{% extends 'base.html' %}
{% load static %}
{% load arcadia_tags %}


{# Section : Header #}
{% block title %} Change your Password {% endblock %}
{% block meta %} {# empty MetaTags #} {% endblock %}


{# Section : Sidebar #}
{% block sidebar %} {# empty sidebar #} {% endblock %}


{# Section : Main #}
{% block main_head %} Change your Password {% endblock %}
{% block main_body %}
    <p>Enter your current and new passwords.</p>

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                    <p class="help-text">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-lg ">Change my Password</button>
        <a class="btn btn-outline-secondary btn-lg" href="javascript:history.back()">Cancel</a>
    </form>
{% endblock %}
{% block main_foot %} {# empty footer #} {% endblock %}


{# Section : Extra Code #}
{% block extra %} {# empty extra #} {% endblock %}


{# Section : Logic #}
{% block logic %}{% endblock %}
