{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}

{% block main %}
    <div class="heading">
        <h1>Change your Password</h1>
        <hr>
    </div>
    <div class="scrollable">

        <p>Enter your current and new passwords.</p>

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <p class="help-text">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-lg ">Change my Password</button>
            <a class="btn btn-outline-secondary btn-lg" href="javascript:history.back()">Cancel</a>
        </form>
    </div>
{% endblock %}