{% extends 'base.html' %}
{% block title %} Reset Password {% endblock %}

{% block main %}
    <div class="heading">
        <h1>Forgot your password?</h1>
        <hr>
    </div>
    <div class="scrollable">

        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <p class="help-text">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-lg ">Send me instructions!</button>
            <button type="reset" class="btn btn-secondary btn-lg">Reset</button>
        </form>
    </div>
{% endblock %}