{% extends 'base.html' %}
{% block title %} Instructions Sent {% endblock %}

{% block main %}
    <div class="heading">
        <h1>Instructions are on their way!</h1>
        <hr>
    </div>
    <div class="scrollable">
        <h5>Check your inbox.</h5>
        <p>We've emailed you instructions for setting your password. You should receive the email shortly! Check spam or junk folders too.</p>
        <button type="submit" class="btn btn-primary btn-lg" onclick="location.href='{% url 'profile' %}'">Back to Explore Games</button>
    </div>
{% endblock %}