{# Load Essentials #}
{% extends 'base.html' %}
{% load static %}
{% load arcadia_tags %}


{# Section : Header #}
{% block title %} Instructions Sent {% endblock %}
{% block meta %} {# empty MetaTags #} {% endblock %}


{# Section : Sidebar #}
{% block sidebar %} {# empty sidebar #} {% endblock %}


{# Section : Main #}
{% block main_head %} Instructions are on their way! {% endblock %}
{% block main_body %}
    <h5>Check your inbox.</h5>
    <p>We've emailed you instructions for setting your password. You should receive the email shortly! Check spam or
        junk folders too.</p>
    <button type="submit" class="btn btn-primary btn-lg" onclick="location.href='{% url 'explore' %}'">Back to Explore
        Games
    </button>
{% endblock %}
{% block main_foot %} {# empty footer #} {% endblock %}


{# Section : Extra Code #}
{% block extra %} {# empty extra #} {% endblock %}


{# Section : Logic #}
{% block logic %}
    <script type="text/javascript">
        setTimeout(redirect, 3000);

        function redirect() {
            window.location = "{% url 'index' %}"
        }
    </script>
{% endblock %}
