{# Load Essentials #}
{% extends 'base.html' %}
{% load static %}
{% load arcadia_tags %}


{# Section : Header #}
{% block title %} Register {% endblock %}
{% block meta %} {# empty MetaTags #} {% endblock %}


{# Section : Sidebar #}
{% block side_head %} About Arcadia {% endblock %}
{% block side_body %}
    Arcadia is an online game store for JavaScript games.<br><br>
    The service has two types of users: players and developers.
    Developers can add their games to the service and set a price for it.
    Players can buy games on the platform and then play purchased games,
    developers can also be players.
{% endblock %}
{% block side_foot %}
    <button type="button" class="btn btn-outline-info btn-block"
            onclick="location.href='mailto:arcadiagames.ga@gmail.com?subject=Arcadia Support: '">
        Contact Arcadia
    </button>
{% endblock %}


{# Section : Main #}
{% block main_head %} Create an Account {% endblock %}
{% block main_body %}
    <form method="post" class="registration" id="signup_form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                    <p class="help-text">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </form>

    <br>
    By using our website, you hereby consent to our <a href="{% url 'privacy' %}" target="_blank">Privacy Policy</a> and
    agree to its terms.
    <br><br>

    <div class="flex_space_between">
        <button type="submit" class="btn btn-primary btn-lg "
                onclick="$('#signup_form').submit()">Register Account
        </button>
        <div>
            <button type="reset" class="btn btn-outline-secondary btn-lg"
                    onclick="$('#signup_form')[0].reset()">Reset
            </button>
            <a class="btn btn-outline-secondary btn-lg" href="javascript:history.back()">Cancel</a>
        </div>
    </div>
{% endblock %}
{% block main_foot %} {# empty footer #} {% endblock %}


{# Section : Extra Code #}
{% block extra %} {# empty extra #} {% endblock %}


{# Section : Logic #}
{% block logic %} {# empty logic #} {% endblock %}
