{% extends 'base.html' %}
{% block title %} Register {% endblock %}

{% block sidebar %}
<div class="heading">
    <h2>About Arcadia</h2>
    <hr>
</div>
<div class="scrollable">
    Arcadia is online Game-Shop.
</div>
<button type="button" class="btn btn-outline-info btn-lg" onclick="location.href='mailto:siddhant.gupta@aalto.fi?subject=Arcadia Support: '">
    Contact Arcadia
</button>
{% endblock %}

{% block main %}
<div class="heading">
    <h1>Create an Account</h1>
    <hr>
</div>
<div class="scrollable">
    <form method="post" class="registration">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
            <p class="help-text">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-lg ">Register</button>
        <button type="reset" class="btn btn-outline-secondary btn-lg">Reset</button>

    </form>
</div>
{% endblock %}