{% extends 'base.html' %}
{% load static %}
{% block title %} Explore {% endblock %}

{% block logic %}
<script>
    $(document).ready(function () {
        let params = (new URL(document.location)).searchParams;
        let genre = params.get("genre");
        let search = params.get("search");
        if (search != null && search !== '') {
            $('#explore-heading').text('Search Results for \"' + search + '\"');
        }
        else {
            $(".genres a").each(function () {
                if (genre === null) {
                    genre = 'all'
                }
                const href = $(this).attr('href');
                if (href.includes(genre)) {
                    $(this).css("font-weight", "700");
                    $('#genre-heading').text(genre);
                }
            });
        }

        $("#search").on('keypress', function (e) {
            if (e.keyCode === 13) {
                $(this).addClass("buttonSearch");
            }
        });

        $('#search-button').click(function (e) {
            $('#search-form').submit();
        });

    });
</script>
{% endblock %}


<!--Sidebar-->
{% block sidebar %}
<div class="heading">
    <h2>Filter Games</h2>
    <hr>
</div>
<div class="scrollable">
    <form id="search-form" method="get" action="/explore/">
        <div id="search-game" style="position: relative">
            <div style="position: absolute; top:0px; left: 0px; padding: 4px 7px; color: #343A3E;">
                <img src="{% static 'media/search.svg' %}" width="16px"></div>
            <input type="search" id="search" name="search" placeholder="Search Games" autofocus>
            <div id="search-button"
                 style="position: absolute; top:0px; right: 0px; padding: 4px 7px; color: #6E42C0; cursor: pointer">
                <img src="{% static 'media/arrow-circle-right.svg' %}" width="16px"></div>
        </div>
    </form>
    <br>
    <h5>Select Genre: </h5>
    <ul class="list-unstyled genres">
        <li><a href="?genre=all" style="color: #343A3E" >All Games</a></li>
        <li><a href="?genre=free" style="color: #ffc107">Free to Play</a></li>
        {% for genre in genres %}
        <li><a href="?genre={{ genre }}">{{ genre }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

<!--Main Block-->
{% block main %}
<div class="heading">
    <h1 id="explore-heading" style="text-transform: capitalize;">
        Explore <span id="genre-heading"></span> Games
    </h1>
    <hr>
</div>
<div class="scrollable">
    <div class="game-list grid--auto-fit">
        {% for game in games %}
        <a href="{% url 'game' game.id %}">
            <div class="game-list-item">
                <img draggable="false" src="{{ game.image }}">
                {% if game.price == 0 %}
                <button class="list-action btn btn-warning">Free to Play</button>
                {% else %}
                <button class="list-action btn btn-light">€ {{ game.price }}</button>
                {% endif %}
                <div class="information">
                    {{ game.genre }}
                    <h4>{{ game.name }}</h4>
                </div>
            </div>

        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
