{# Usage: Homepage + showcase all games. #}


{# Load Essentials #}
{% extends 'base.html' %}
{% load static %}
{% load arcadia_tags %}


{# Section : Header #}
{% block title %} Explore {% endblock %}


{# Section : Sidebar #}
{% block side_head %} Filter Games {% endblock %}
{% block side_body %}

    <!-- Search Form -->
    <form id="search-form" method="get" action="/explore/">
        {% include 'include/searchbar.html' %}
    </form>
    <br>
    <!-- Genre List -->
    <h5>Select Genre: </h5>
    <ul class="list-unstyled genres">
        <li>
            <a href="?{% param_replace genre='all' %}" style="color: #343A3E">All Games</a>
            ({{ count.total }})
        </li>
        <li>
            <a href="?{% param_replace genre='free' %}" style="color: #8B0000">Free to Play</a>
            ({{ count.free }})
        </li>
        {% for genre in genres %}
            <li>
                <a href="?{% param_replace genre=genre %}">{{ genre }}</a>
                {% if genre.game_set.count > 0 %}
                    ({{ genre.game_set.count }})
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block side_foot %}
    <!-- Reset Filters -->
    <a class="btn btn-outline-danger btn-block" href="/library/">Reset Filters</a>
{% endblock %}


{# Section : Main #}
{% block main_head %} Explore <span id="genre-heading"></span> Games {% endblock %}
{% block main_body %}
    {# Check if there are games #}
    {% if games %}
        <div class="game-list grid--auto-fit">
            {% for game in games %}
                <a href="{% url 'game' game.id %}">
                    <!-- Game Badge -->
                    <div class="game-list-item">
                        {% if game.image %}
                            <img draggable="false" src="{{ game.image }}" alt="{{ game.name }}">
                        {% else %}
                            <img draggable="false" src="{% static 'media/no-image.png' %}" alt="{{ game.name }}">
                        {% endif %}
                        {% if game in user.inventory.all %}
                            <button class="list-action btn btn-success">Play</button>
                        {% elif game.price == 0 %}
                            <button class="list-action btn btn-warning">Free to Play</button>
                        {% else %}
                            <button class="list-action btn btn-light">€ {{ game.price }}</button>
                        {% endif %}
                        <div class="information">
                            {{ game.genre }}
                            <h4>{{ game.name }}</h4>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <h5>No games found.</h5>
        <p>Try different filters or reset the filters.</p>
    {% endif %}
{% endblock %}
{% block main_foot %}
    <!-- Pagination -->
    {% if games.paginator.num_pages > 1 %}
        <div style="display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-evenly">
            <nav aria-label="navigation">
                <ul class="pagination">
                    {% if games.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?{% param_replace page=games.previous_page_number %}">
                            Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">
                            Previous</a></li>
                    {% endif %}
                    {% for page in games.paginator.page_range %}
                        <li id="page_{{ page }}" class="page-item">
                            <a class="page-link" href="?{% param_replace page=page %}">
                                {{ page }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if games.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?{% param_replace page=games.next_page_number %}">
                            Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">
                            Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}


{# Section : Extra Code #}
{% block extra %}
    {% if user.is_authenticated == False %}
        <!-- Notification Bar -->
        <div id="snackbar">Logout Successful!</div>
    {% endif %}
{% endblock %}


{# Section : Logic #}
{% block logic %}
    <script>
        $(document).ready(function () {
            // Read URL Parameters
            let params = (new URL(document.location)).searchParams;
            let genre = params.get("genre");
            let search = params.get("search");
            let redirect = params.get("redirect");
            let page = params.get("page");

            // Logout notification
            if (redirect === 'logout') {
                let x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function () {
                    x.className = x.className.replace("show", "");
                }, 3000);
            }

            // Active search
            if (search != null && search !== '') {
                $('#explore-heading').text('Search Results for \"' + search + '\"');
                $('#search').attr('value', search);
                $('#search-icon').attr('src', '/static/media/times-circle.svg');
            }

            // Selected genre
            $(".genres a").each(function () {
                if (genre === null) {
                    genre = 'all';
                }
                const href = $(this).attr('href');
                if (href.includes(genre)) {
                    $(this).css("font-weight", "700");
                    $('#genre-heading').text(genre);
                }
            });

            // Search by pressing return
            $("#search").on('keypress', function (e) {
                if (e.keyCode === 13) {
                    $(this).addClass("buttonSearch");
                }
            });

            $('#search-button').click(function (e) {
                $('#search-form').submit();
            });

            $('#search-icon').click(function (e) {
                $('#search').attr('value', '');
                $('#search-form').submit();
            });

            // Active Page
            if (page === null) {
                page = 1;
            }
            let page_id = document.getElementById('page_' + page);
            if (page_id) {
                page_id.className = 'page-item active';
            }
        });
    </script>
{% endblock %}
