{# Usage: Show game details and allow users to play them. #}


{# Load Essentials #}
{% extends 'base.html' %}
{% load static %}
{% load arcadia_tags %}


{# Section : Header #}
{% block title %} {{ game.name }} {% endblock %}
{% block meta_desc %} {{ game.description }} {% endblock %}
{% block meta_img %} {{ game.image }} {% endblock %}


{# Section : Sidebar #}
{% block side_head %} Game Info {% endblock %}
{% block side_body %}
    <!-- Game Information -->
    <div class="form-group">
        <label>Genre:</label>
        <a href="/explore/?genre={{ game.genre }}">{{ game.genre }}</a>
    </div>
    <div class="form-group">
        <label>Developer:</label>
        <a href="{% url 'user_profile'  game.developer.username %}">
            {% if game.developer.first_name != '' %}
                <br>{{ game.developer.first_name }} {{ game.developer.last_name }} ({{ game.developer.username }})
            {% else %}
                {{ game.developer.username }}
            {% endif %}
        </a>
    </div>
    <div class="form-group">
        <label>Price:</label> € {{ game.price }}
        {% if user.is_authenticated %} <br>
            {% if game.price == 0 %}
                <span class="help-text">The game is a gift for you.</span>
            {% else %}
                {% if game in user.inventory.all %}
                    <span class="help-text">
                        Purchased on {{ transaction.timestamp|date:'d-m-Y' }}
                    </span>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block side_foot %}
    <!-- Leaderboard - High Scored -->
    {% with scores=game.scores %}
        <h5>Leaderboard (Top 5)</h5>
        {% if scores %}
            <table class="table table-striped table-sm" style="width: 100%; margin-bottom: 0 !important;">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Player</th>
                    <th scope="col">Score</th>
                </tr>
                </thead>
                <tbody>
                {% for score in scores %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ score.player }}</td>
                        <td>{{ score.score }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No scores found for this game.</p>
            <span class="help-text">Why don't you submit a score and shine on the leaderboard.</span>
        {% endif %}
    {% endwith %}

    <!-- Edit Game for Dev -->
    {% if user == game.developer %}
        <button type="button" class="btn btn-outline-primary btn-block" style="margin-top: 10px"
                onclick="location.href='{% url 'gameEdit' game.id %}'">
            Edit Game
        </button>
    {% endif %}
{% endblock %}


{# Section : Main #}
{% block main_head %}
    {{ game.name }}
    {% if game.price == 0 %}
        <span class="heading-addon">[Free]</span>
    {% endif %}
{% endblock %}
{% block main_body %}
    <!-- If user is logged_in and game is free or owned by user. -->
    {% if user.is_authenticated %}
        {% if game in user.inventory.all or game.price == 0  or game.developer == user %}
            <!--Game Frame-->
            <div style="text-align: center; overflow-x: scroll">
                <iframe id="game_frame" title="{{ game.name }}"
                        style="border: 1px solid #000000; border-radius: 5px;  width: 100%; height: 500px"
                        src="{{ game.url }}"></iframe>
            </div>
            <!-- Updates about Game -->
            <span style="font-weight: 500">Updates: </span><span id="status"> </span>
            {{ game.last_save_date }}
            <br>Last Save:
            <label>{% call_method game 'last_save_date' user %}</label>
            <br><br>
        {% endif %}
    {% endif %}
    <!--Game Description-->
    <div class="media" style="margin-bottom: 10px !important;">
        {% if game.image %}
            <img src="{{ game.image }}" class="align-self-start mr-3" alt="{{ game.name }}"
                 style="width: 100%; max-width: 200px; min-width: 150px; border-radius: 10px;">
        {% endif %}
        <div class="media-body">
            <h5 class="mt-0">Description:</h5>
            <p>{{ game.description }}</p>
        </div>
    </div>
    <div class="sharethis-inline-share-buttons"></div>
{% endblock %}
{% block main_foot %}
    {% if user.is_authenticated %}
        <!--Purchase Button-->
        {% if game in user.inventory.all or game.price == 0 or game.developer == user %}
        {% else %}
            <a class="btn btn-primary btn-block btn-lg" href="{% url 'purchase' game.id %}">
                Purchase Game €{{ game.price }}
            </a>
        {% endif %}
    {% else %}
        <!-- Ask user to login or register -->
        <div>
            <br>
            <h5>Looks like you're missing out on a lot of fun. </h5>
            <p>Login to your account to access this game or create a new account if you don't already have one.</p>
            <a class="btn btn-primary" href="{% url 'login' %}?next={% firstof request.path '/' %}" role="button">
                Login to your Account</a>
            <a class="btn btn-outline-secondary" href="{% url 'signup' %}?next={% firstof request.path '/' %}"
               role="button">Create an Account</a>
        </div>
    {% endif %}
{% endblock %}


{# Section : Extra Code #}
{% block extra %}
    {% if user.is_authenticated %}
        <div id="snackbar"></div>
    {% endif %}
{% endblock %}


{# Section : Logic #}
{% block logic %}
    <script>
        /* global $ */
        $(document).ready(function () {
            'use strict';
            let params = (new URL(document.location)).searchParams;
            let redirect = params.get("redirect");
            let gameWidth = 400;
            let statusText = $('#status');

            // Initialise frame window size
            $(window).resize(function () {
                if ($(window).width() <= 800) {
                    $('#game_frame').width('100%');
                } else {
                    $('#game_frame').width(gameWidth);
                }
            });

            // On message received from frame.
            $(window).on('message', function (evt) {
                let current_score = 0;
                // Get data out of message
                let data = evt.originalEvent.data;
                let message = {
                    messageType: "ERROR"
                };

                // Filter Message
                switch (data.messageType) {
                    case 'SETTING':
                        let gWidth = data.options.width;
                        gameWidth = gWidth;
                        let gHeight = data.options.height;
                        if ($(window).width() > 800) {
                            $('#game_frame').width(gWidth).height(gHeight);
                            message = "Game loaded with width=" + gameWidth + " and height=" + gHeight + ".";
                        } else {
                            $('#game_frame').width('100%').height(gHeight);
                            message = "Game loaded with width=100% and height=" + gHeight + ".";
                        }

                        if (data.options.mobile) {
                            statusText.text(message + " + Mobile Ready");
                        } else {
                            statusText.text(message + " The game is not obtimised for Touch-Mobile Interfaces.");
                        }
                        break;

                    case 'SCORE':
                        let score = parseFloat(data.score);
                        if (isNaN(score)) {
                            message.info = "Invalid Score";
                            sendMessageToIFrame(message);
                            return;
                        }
                        current_score = score;
                        console.log('cs' + current_score);
                        sendData(data, '#');
                        statusText.text("Your score of " + score + " is successfully submitted.");
                        break;

                    case 'SAVE':
                        console.log(data.gameState);
                        if (!tryParseJSON(JSON.stringify(data.gameState))) {
                            message.info = 'Invalid JSON format';
                            sendMessageToIFrame(message);
                            return;
                        }
                        data.gameState = JSON.stringify(data.gameState);
                        sendData(data, '#');
                        statusText.text("Game saved successfully.");
                        break;

                    case 'LOAD_REQUEST':
                        statusText.text("Error! No saved game found.");
                        sendData(data, '#');
                        break;

                    case 'NOTIFY':
                        statusText.text(data.notification);
                        break;
                }
            });

            // Send information back to Frame
            function sendMessageToIFrame(message) {
                let iframe = document.getElementById('game_frame');
                if (iframe) {
                    iframe.contentWindow.postMessage(message, "*");
                } else {
                    statusText.text("Oops, game not found!");
                }
            }

            // Send information to backend (POST)
            function sendData(data, url) {
                data.csrfmiddlewaretoken = "{{ csrf_token  }}";
                console.log('data:' + data);
                var message = {};
                $.ajax({
                    method: 'POST',
                    url: url,
                    data: data,
                    success: function (data) {
                        console.log('success:' + data);
                        if (data.error) {
                            message = {
                                messageType: "ERROR",
                                info: data.error
                            };
                            sendMessageToIFrame(message);
                        } else {
                            if (data.result) {
                                message.messageType = "LOAD";
                                message.gameState = jQuery.parseJSON(data.result);
                                sendMessageToIFrame(message);
                                statusText.text("Last save game successfully loaded.");
                            }
                        }
                    },
                    error: function (data) {
                        console.log('error:' + data);
                        if (data.error) {
                            message = {
                                messageType: "ERROR",
                                info: data.error
                            };
                            sendMessageToIFrame(message);
                            statusText.text(message.info);
                        }
                    }
                });
            }

            function tryParseJSON(jsonString) {
                try {
                    var o = JSON.parse(jsonString);
                    if (o && typeof o === "object" && o !== null) {
                        return true;
                    }
                } catch (e) {
                }
                return false;
            }

            var x = document.getElementById("snackbar");

            // Free Game. No purchase required.
            if (redirect && redirect.includes('free')) {
                x.textContent = "It's a Free game. Enjoy!";
                x.className = "show";
                setTimeout(function () {
                    x.className = x.className.replace("show", "");
                }, 3000);
            }
            // Successful purchase
            else if (redirect && redirect.includes('purchase')) {
                x.textContent = "Purchase Successful!";
                x.className = "show";
                setTimeout(function () {
                    x.className = x.className.replace("show", "");
                }, 3000);
            }
        });
    </script>
{% endblock %}
