{# Load Essentials #}
{% extends 'base.html' %}
{% load static %}
{% load arcadia_tags %}


{# Section : Header #}
{% block title %} {{ game.name }} {% endblock %}
{% block meta_desc %} {{ game.description }} {% endblock %}
{% block meta_img %} {{ game.image }} {% endblock %}


{# Section : Sidebar #}
{% block side_head %} Game Info {% endblock %}
{% block side_body %}
    <div class="form-group">
        <label>Developer:</label>
        <a href="/profile/{{ game.developer.username }}">
            {% if game.developer.first_name != '' %}
                <br>{{ game.developer.first_name }} {{ game.developer.last_name }} ({{ game.developer.username }})
            {% else %}
                {{ game.developer.username }}
            {% endif %}
        </a>
    </div>
    <div class="form-group">
        <label>Genre:</label>
        <a href="{% url 'profile' %}">{{ game.genre }}</a>
    </div>
    <div class="form-group">
        <label>Price:</label> € {{ game.price }}
        {% if user.is_authenticated %} <br>
            {% if game.price == 0 %}
                The game is a gift for you.
            {% else %}
                {% if game in user.inventory.all %}
                    <span class="help-text">Purchased:</span> {{ game.transaction_set }}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        {% if game.price == 0 or game in user.inventory.all %}
            <br>
            <div class="form-group">
                <h5>Status Updates:</h5>
                <span id="status"></span>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block side_foot %}
    {% if user == game.developer %}
        <button type="button" class="btn btn-outline-primary btn-block"
                onclick="location.href='{% url 'gameEdit' game.id %}'">
            Edit Game
        </button>
    {% endif %}
{% endblock %}


{# Section : Main #}
{% block main_head %}
    {{ game.name }}
    {% if game.price == 0 %}
        <span class="heading-addon">[Free]</span>
    {% endif %}
{% endblock %}
{% block main_body %}
    <!--Game Frame-->
    {% if user.is_authenticated %}
        {% if game in user.inventory.all or game.price == 0  or game.developer == user %}
            <div style="text-align: center; overflow-x: scroll">
                <iframe id="game_frame"
                        style="border: 1px solid #000000; border-radius: 5px;  width: 100%; height: 300px"
                        src="{{ game.url }}"></iframe>
            </div>
            <br>
        {% endif %}
    {% endif %}
    <!--Game Description-->
    <div class="media">
        {% if game.image %}
            <img src="{{ game.image }}" class="align-self-start mr-3" alt="{{ game.name }}"
                 style="width: 100%; max-width: 200px; min-width: 150px; border-radius: 10px;">
        {% endif %}
        <div class="media-body">
            <h5 class="mt-0">Description:</h5>
            <p>{{ game.description }}</p>
        </div>
    </div>

    {% if user.is_authenticated %}
        <!--Purchase Button-->
        {% if game in user.inventory.all or game.price == 0 or game.developer == user %}
        {% else %}
            <a class="btn btn-primary btn-block btn-lg" href="{% url 'checkout' game.id %}">
                Purchase Game €{{ game.price }}
            </a>
            <br>
        {% endif %}
    {% else %}
        <div>
            <br>
            <h5>Looks like you're missing out on a lot of fun. </h5>
            <p>Login to your account to access this game or create a new account if you don't already have one.</p>
            <a class="btn btn-primary" href="{% url 'login' %}?next={% firstof request.path '/' %}" role="button">
                Login to your Account</a>
            <a class="btn btn-outline-secondary" href="{% url 'signup' %}?next={% firstof request.path '/' %}"
               role="button">Create an Account</a>
        </div>
    {% endif %}
{% endblock %}
{% block main_foot %} {# empty footer #} {% endblock %}


{# Section : Extra Code #}
{% block extra %}
    {% if user.is_authenticated %}
        <div id="snackbar">It's a Free game. Enjoy!</div>
    {% endif %}
{% endblock %}


{# Section : Logic #}
{% block logic %}
    <script>
        /* global $ */
        $(document).ready(function () {
            'use strict';
            let params = (new URL(document.location)).searchParams;
            let redirect = params.get("redirect");

            var gameWidth = 0;

            $(window).resize(function () {
                if ($(window).width() <= 800) {
                    $('#game_frame').width('100%');
                } else {
                    $('#game_frame').width(gameWidth);
                }
            });

            $('#fb-share').attr('href','http://www.facebook.com/share.php?u=' + encodeURIComponent(location.href) + '&amp;src=sdkpreparse');

            $(window).on('message', function (evt) {
                // Get data out of message
                var data = evt.originalEvent.data;
                // Filter Message
                switch (data.messageType) {
                    case 'SETTING':
                        console.log(data.options);
                        let gWidth = data.options.width;
                        gameWidth = gWidth;
                        let gHeight = data.options.height;
                        if ($(window).width() > 800) {
                            $('#game_frame').width(gWidth).height(gHeight);
                        } else {
                            $('#game_frame').width('100%').height(gHeight);
                        }
                        $('#status').text("Size = width:" + gWidth + ", height:" + gHeight);
                        break;
                    case 'SCORE':
                        console.log(data.score);
                        $('#status').text("Score = " + data.score);
                        break;
                    case 'SAVE':
                        console.log(data.gameState);
                        $('#status').text("Saved Player Items = " + data.gameState.playerItems);
                        break;
                    case 'LOAD_REQUEST':
                        console.log("Load Req");
                        $('#status').text("Load Requested");
                        var message = {
                            messageType: "LOAD",
                            gameState: {
                                playerItems: [
                                    "Sword",
                                    "Wizard Hat"
                                ],
                                score: 506.0 // Float
                            }
                        };
                        var messageE = {
                            messageType: "ERROR",
                            info: "Gamestate could not be loaded"
                        };
                        var game_frame = document.getElementById('game_frame').contentWindow;
                        game_frame.postMessage(message, "*");
                        break;
                }
            });

            if (redirect.includes('free')) {
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function () {
                    x.className = x.className.replace("show", "");
                }, 3000);
            }
        });
    </script>
{% endblock %}
