{% load static %}

<script>
    window.onload = setNavigation;

    function setNavigation() {
        var path = window.location.pathname;
        path = decodeURIComponent(path);
        $(".nav a").each(function () {
            var href = $(this).attr('href');
            if (path.includes(href)) {
                $(this).addClass('active');
            }
        });
        $(".dropdown-menu a").each(function () {
            var href = $(this).attr('href');
            if (path.includes(href)) {
                $(this).addClass('active');
            }
        });
        let iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
        if (iOS) {
            let x = document.getElementById('back-button');
            x.className = x.className.replace("hidden", "");
            if($(window).width() < 350) {
                $('#back-space').html("&nbsp");
            }
        }
    }

</script>
<header style="position: fixed; top: 0; left: 0; right: 0; z-index: 40">

    <div class="logo">
        <!-- Back for iOS -->
        <a id="back-button" href="javascript:history.back()" class="hidden">
            <svg class="back-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm-28.9 143.6l75.5 72.4H120c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h182.6l-75.5 72.4c-9.7 9.3-9.9 24.8-.4 34.3l11 10.9c9.4 9.4 24.6 9.4 33.9 0L404.3 273c9.4-9.4 9.4-24.6 0-33.9L271.6 106.3c-9.4-9.4-24.6-9.4-33.9 0l-11 10.9c-9.5 9.6-9.3 25.1.4 34.4z" fill="#e5e5e5"/></svg>
            <span id="back-space">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        </a>
        <!-- Logo -->
        <a href="{% url 'index' %}">
            <img class="logo" src="{% static 'media/logo-light.png' %}" alt="Arcadia Logo">
        </a>
    </div>
    <!-- Desktop Nav -->
    <div class="navigation">
        <ul class="nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'explore' %}">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'library' %}">Library</a>
                </li>
                {% if user.is_dev %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dev' %}">Dev Corner</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">
                        {% if user.first_name == '' %}
                            {{ user.username }}
                        {% else %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% endif %}
                        {% if user.image != '' and 'no-image' not in user.image %}
                            &nbsp <img class="nav_profile_image" src="{{ user.image }}" alt="{{ user.username }}">
                        {% endif %}
                    </a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'explore' %}">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <!-- Mobile Nav -->
    <div class="navigation-mobile">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Menu">
                <img src="{% static 'media/bars.svg' %}" alt="Menu Icon">
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'explore' %}">Explore</a>
                    <a class="dropdown-item" href="{% url 'library' %}">Library</a>
                    {% if user.is_dev %}
                        <a class="dropdown-item" href="{% url 'dev' %}">Dev Corner</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'explore' %}">Explore</a>
                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                    <a class="dropdown-item" href="{% url 'signup' %}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

