{% extends 'base.html' %}
{% block title %} Activation Email Sent {% endblock %}

{% block main %}
<div class="heading">
    <h1>Activation Email Sent</h1>
    <hr>
</div>
<div class="scrollable">
    <p>Please confirm your email address via the link sent to complete the registration.</p>
    <p class="help-text">You will be redirected to registration page in 10 seconds. If not, click the button below.</p>
    <button type="submit" class="btn btn-primary btn-lg" onclick="location.href='{% url 'signup' %}'">
        Go to Registration
    </button>
</div>
<script type="text/javascript">
    setTimeout(redirect, 10000);
    function redirect() {
        window.location = "{% url 'signup' %}"
    }
</script>
{% endblock %}
