{# Usage: List the currently owned games as Player or as Developer #}


{# Load Essentials #}
{% extends 'base.html' %}
{% load static %}
{% load arcadia_tags %}


{# Section : Header #}
{% block title %} Library {% endblock %}
{% block meta %} {# empty MetaTags #} {% endblock %}


{# Section : Sidebar #}
{% block side_head %} Filter Games {% endblock %}
{% block side_body %}
    {% if user.is_authenticated %}
        <form id="search-form" method="get" action="/library/">
            {% include 'include/searchbar.html' %}
        </form>
        <br>
        <h5>Select Genre: </h5>
        <ul class="list-unstyled genres">
            <li>
                <a href="?{% param_replace genre='all' %}" style="color: #343A3E">All Games</a>
                ({{ count.total }})
            </li>
            <li>
                <a href="?{% param_replace genre='free' %}" style="color: #8B0000">Free to Play</a>
                ({{ count.free }})
            </li>
            {% for name, count in genres.items %}
                <li>
                    <a href="?{% param_replace genre=name %}">{{ name }}</a>
                    ({{ count }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <script type="text/javascript">
            window.location = "{% url 'login' %}?next={% firstof request.path '/' %}"
        </script>
    {% endif %}
{% endblock %}
{% block side_foot %}
    <a class="btn btn-outline-danger btn-block sidebar_button" href="/library/">Reset Filters</a>
{% endblock %}


{# Section : Main #}
{% block main_head %}
    {% if '/dev/' in request.path %}
        Development Corner
    {% else %}
        Your Library - <span id="genre-heading"></span> Games
    {% endif %}
{% endblock %}
{% block main_body %}
    {% if games %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">
                    Game
                    <span class="sort_icon_toggle">
                        <a href="?{% param_replace sort='desc' %}" aria-label="Sort Z-A">
                            <img class="sort_icon icon16" src="{% static 'media/sort-alpha-down.svg' %}"
                                 alt="sort-down">
                        </a>
                        <a href="?{% param_replace sort='asc' %}" aria-label="Sort A-Z">
                            <img class="sort_icon icon16" src="{% static 'media/sort-alpha-up.svg' %}" alt="sort-up"
                                 style="display:none">
                        </a>
                    </span>
                </th>
                <th scope="col" class="extra_col">Stats</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr class='clickable-row' data-href="{% url 'game' game.id %}">
                    <td style="display: grid; grid-template-columns:170px auto;">
                        {% if game.image %}
                            <img draggable="false" class="table-image" src="{{ game.image }}" alt="{{ game.name }}">
                        {% else %}
                            <img draggable="false" class="table-image" src="{% static 'media/no-image.png' %}"
                                 alt="{{ game.name }}">
                        {% endif %}
                        <div>
                            <span style="font-weight: 700">{{ game.name }}</span>
                            <br>{{ game.genre }}
                            {% if '/dev/' in request.path %} | € {{ game.price }}{% endif %}
                            <br>
                            {% if user == game.developer %}
                                <a class="btn btn-outline-info btn-sm row-button"
                                   href="{% url 'gameEdit' game.id %}">Edit Game</a>
                            {% else %}
                                <a class="btn btn-outline-success btn-sm"
                                   href="{% url 'game' game.id %}">Play</a>
                            {% endif %}
                        </div>
                    </td>
                    <td class="extra_col">
                        {% if '/dev/' in request.path %}
                            <label>{{ game.sale_quantity }}</label> copies sold
                            {% if game.price != 0 %}
                                <br>
                                <label>€ {{ game.sale_amount }}</label> earned
                            {% endif %}
                        {% else %}
                            High Score:
                            <label>
                                {% call_method game 'player_high_score' user %}
                            </label>
                            <br>
                            Last Saved:
                            <label>{% call_method game 'last_save_date' user %}</label>

                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <th>Total Games: {{ games|length }} </th>
            {% if '/dev/' in request.path %}
                <th class="extra_col">Total Sale: {{ user.total_sale }} (€ {{ user.amount_earned }})</th>
            {% endif %}
            </tfoot>
        </table>

        {# Sales Visualisations #}
        {% if '/dev/' in request.path %}
            <hr>
            <h5>Sales Statistics:</h5>
            <div style="display: flex; flex-wrap: wrap; flex-direction: row">
                <div id="chart_pie">Sales visualisations are not available on mobile device.</div>
                <div id="chart_bar"></div>
            </div>
        {% endif %}
    {% else %}
        <h5>No games found.</h5>
        {% if 'dev/' in request.path %}
            <p>You have not submitted any games. Try adding a game.</p>
        {% else %}
            <p>You don't own any such games. Explore some.</p>
            <a class="btn btn-outline-primary" href="/explore/">Explore More Games</a>
        {% endif %}
    {% endif %}
{% endblock %}
{% block main_foot %}
    <div style="display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-evenly">
        {% if games.paginator.num_pages > 1 %}
            <nav aria-label="navigation">
                <ul class="pagination">
                    {% if games.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?{% param_replace page=games.previous_page_number %}">
                            Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">
                            Previous</a></li>
                    {% endif %}
                    {% for page in games.paginator.page_range %}
                        <li id="page_{{ page }}" class="page-item">
                            <a class="page-link" href="?{% param_replace page=page %}">
                                {{ page }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if games.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?{% param_replace page=games.next_page_number %}">
                            Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">
                            Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>

    {% if '/dev/' in request.path %}
        <a class="btn btn-block btn-primary" style="margin-top: 0 !important;"
           href="{% url 'gameAdd' %}"> + Submit New Game </a>
    {% endif %}
{% endblock %}


{# Section : Extra Code #}
{% block extra %}
    {% if user.is_authenticated %}
        <div id="snackbar"></div>
    {% endif %}
{% endblock %}


{# Section : Logic #}
{% block logic %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages': ['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data_quantity = new google.visualization.DataTable();
            data_quantity.addColumn('string', 'Game');
            data_quantity.addColumn('number', 'Quanity');
            data_quantity.addRows([
                {% for game in games %}
                    ['{{ game.name }}', {{ game.sale_quantity }}],
                {% endfor %}
            ]);

            var data_sale = new google.visualization.DataTable();
            data_sale.addColumn('string', 'Game');
            data_sale.addColumn('number', 'Amount (€)');
            data_sale.addRows([
                {% for game in games %}
                    ['{{ game.name }}', {{ game.sale_amount }}],
                {% endfor %}
            ]);

            // Set chart options
            var options_quantity = {
                'title': 'Sale Numbers (Total sale = {{ user.total_sale }})',
                'is3D': true,
                'width': 300,
                'height': 350
            };

            // Set chart options
            var options_sale = {
                'title': 'Amount earned (Total = € {{ user.amount_earned }})',
                pieHole: 0.4,
                'width': 500,
                'height': 350
            };

            // Instantiate and draw our chart, passing in some options.
            if ($(window).width() > 800) {
                if (document.getElementById('chart_pie')) {
                    var chart_quantity = new google.visualization.PieChart(document.getElementById('chart_pie'));
                    chart_quantity.draw(data_quantity, options_quantity);
                }
                if (document.getElementById('chart_bar')) {
                    var chart_sale = new google.visualization.ColumnChart(document.getElementById('chart_bar'));
                    chart_sale.draw(data_sale, options_sale);
                }
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            let params = (new URL(document.location)).searchParams;
            let genre = params.get("genre");
            let search = params.get("search");
            let redirect = params.get("redirect");
            let page = params.get("page");
            let sort = params.get("sort");

            if ($(window).width() <= 800) {
                $('.extra_col').addClass('hidden');
            }

            if (search != null && search !== '') {
                $('#explore-heading').text('Search Results for \"' + search + '\" in Library');
                $('#search').attr('value', search);
                $('#search-icon').attr('src', '/static/media/times-circle.svg')
            }

            $(".genres a").each(function () {
                if (genre === null) {
                    genre = 'all'
                }
                const href = $(this).attr('href');
                if (href.includes(genre)) {
                    $(this).css("font-weight", "700");
                    $('#genre-heading').text(genre);
                }
            });

            $("#search").on('keypress', function (e) {
                if (e.keyCode === 13) {
                    $(this).addClass("buttonSearch");
                }
            });

            $('#search-button').click(function (e) {
                $('#search-form').submit();
            });

            $('#search-icon').click(function (e) {
                $('#search').attr('value', '');
                $('#search-form').submit();
            });

            $(".clickable-row").click(function (e) {
                window.location = $(this).data('href');
            });


            if (sort === 'desc') {
                $('.sort_icon_toggle').find('img').toggle();
            }

            if (page === null) {
                page = 1;
            } else {
                var page_id = document.getElementById('page_' + page);
                page_id.className = 'page-item active';
            }

            if (redirect && redirect.includes('login')) {
                var x = document.getElementById("snackbar");
                x.textContent = "Login Successful!";
                x.className = "show";
                setTimeout(function () {
                    x.className = x.className.replace("show", "");
                }, 3000);
            } else if (redirect && redirect.includes('delete')) {
                var x = document.getElementById("snackbar");
                x.textContent = "Game Successfully Deleted!";
                x.className = "show";
                setTimeout(function () {
                    x.className = x.className.replace("show", "");
                }, 3000);
            }
        });

    </script>
{% endblock %}


