{# Load Essentials #}
{% extends 'base.html' %}
{% load static %}
{% load arcadia_tags %}


{# Section : Header #}
{% block title %} Update Profile {% endblock %}
{% block meta %} {# empty MetaTags #} {% endblock %}


{# Section : Sidebar #}
{% block side_head %} Preview {% endblock %}
{% block side_body %}
    <div style="width: 100%; text-align: center; margin-bottom: 1rem">
        <img id="user_image" draggable="false" src="{{ user.image }}">
    </div>
    <div class="form-group">
        <label>Name:</label>
        <span id="preview_name">
        {% if user.first_name == '' %}
            We don't know your name.
        {% else %}
            {{ user.first_name }} {{ user.last_name }}
        {% endif %}
        </span>
    </div>
    <div class="form-group">
        <label>Username: {{ user.username }} </label>
        <span id="preview_email" style="font-size: 0.8rem;">{{ user.email }}</span>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <a href="{% url 'password_change' %}">Change</a>
    </div>
    <div class="form-group">
        <label>Account Type:</label>
        <span id="preview_dev"></span>
    </div>
{% endblock %}
{% block side_foot %} {# empty footer #} {% endblock %}


{# Section : Main #}
{% block main_head %} Update Profile {% endblock %}
{% block main_body %}
    <form method="post" class="registration" id="user-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                    <p class="help-text">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </form>
    <div class="flex_space_between">
        <button type="submit" class="btn btn-primary btn-lg "
                onclick="$('#user-form').submit()">Save Profile
        </button>
        <div>
            <button type="reset" class="btn btn-outline-secondary btn-lg"
                    onclick="$('#user-form')[0].reset()">Reset
            </button>
            <a class="btn btn-outline-secondary btn-lg" href="javascript:history.back()">Cancel</a>
        </div>
    </div>
{% endblock %}
{% block main_foot %} {# empty footer #} {% endblock %}


{# Section : Extra Code #}
{% block extra %}
{% endblock %}


{# Section : Logic #}
{% block logic %}
    <script>
        $(document).ready(function () {

            // Thumbnail Initialize
            $('#user_image').attr('src', $('#id_image').val());
            $('#preview_name').text($('#id_first_name').val() + ' ' + $('#id_last_name').val());
            $('#preview_email').text($('#id_email').val());
            if (document.getElementById('id_is_dev').checked) {
                $('#preview_dev').text('Developer');
            } else {
                $('#preview_dev').text('Player');
            }

            // Thumbnail Update
            $('#user-form').on("change paste keyup", function () {
                $('#user_image').attr('src', $('#id_image').val());
                $('#preview_name').text($('#id_first_name').val() + ' ' + $('#id_last_name').val());
                $('#preview_email').text($('#id_email').val());
                if (document.getElementById('id_is_dev').checked) {
                    $('#preview_dev').text('Developer');
                } else {
                    $('#preview_dev').text('Player');
                }
            });
        });
    </script>
{% endblock %}
