{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}

<!--Sidebar-->
{% block sidebar %}
{% if user.is_authenticated %}
<div class="heading">
    <h2>Settings</h2>
    <hr>
</div>
<div class="scrollable">
    <div class="form-group">
        <label>Name:</label>
        {{ user.first_name }} {{ user.last_name }}
    </div>
    <div class="form-group">
        <label>Username: {{ user.username }} </label>
        ({{ user.email }})
    </div>
    <div class="form-group">
        <label>Password:</label>
        <a href="{% url 'password_change' %}">Change</a>
    </div>
    <div class="form-group">
        <label>Account Type:</label>
        {{ user.groups.name }}
    </div>
</div>
<button type="button" class="btn btn-danger btn-lg" onclick="location.href='{% url 'logout' %}'">
    Logout
</button>
{% else %}
<script type="text/javascript">
    window.location = "{% url 'login' %}?next={% firstof request.path '/' %}"
</script>
{% endif %}
{% endblock %}

<!--Main Block-->
{% block main %}
{% if user.is_authenticated %}
<div class="heading">
    <h1>Welcome, {{ user.first_name }}!</h1>
    <hr>
</div>
<div class="scrollable">
    <!--Main-->
    <h5>You are a star!</h5> See your stats here.
</div>
{% else %}
<div class="heading">
    <h1>Hey! Sneaky Person.</h1>
    <hr>
</div>
<div class="scrollable">
    <p>You are not logged in</p>
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='{% url 'login' %}'">
        Login
    </button>
</div>
{% endif %}
{% endblock %}