{# Load Essentials #}
{% extends 'base.html' %}
{% load static %}
{% load arcadia_tags %}


{# Section : Header #}
{% block title %} {{ user2.username }} Profile {% endblock %}
{% block meta %} {# empty MetaTags #} {% endblock %}


{# Section : Sidebar #}
{% block side_head %} Information {% endblock %}
{% block side_body %}
    <div id="game-image"
         style="width: 100%; text-align: center; margin-bottom: 1rem">
        <img id="user_image" draggable="false" src="{{ user2.image }}" alt="{{ user2.username }}">
    </div>
    <div class="form-group">
        {% if user2.first_name != '' %}
            <label>Name:</label>
            {{ user2.first_name }} {{ user2.last_name }}
        {% endif %}
    </div>
    <div class="form-group">
        <label>Username: {{ user2.username }} </label>
    </div>
    <div class="form-group">
        <label>Account Type:</label>
        {% if user2.is_dev %}
            Developer
        {% else %}
            Player
        {% endif %}
    </div>
    <hr>
    <div class="form-group">
        <h5>Total Games</h5>
        {% if user2.is_dev %}
            Developed: <label>{{ dev_games|length }}</label>
        {% endif %}<br>
        Played: <label>{{ user2.inventory.all|length }}</label>
    </div>
{% endblock %}
{% block side_foot %}
    <button type="button" class="btn btn-outline-info btn-block"
            onclick="location.href='mailto:{{ user2.email }}'">
        Contact User
    </button>
{% endblock %}


{# Section : Main #}
{% block main_head %}
    Profile of
    {% if user2.first_name == '' %} {{ user2.username }}
    {% else %} {{ user2.first_name }} {{ user2.last_name }}
    {% endif %}
    <span class="heading-addon">{% if user2.is_dev %} [Dev] {% endif %}</span>
{% endblock %}
{% block main_body %}
    {% if user2.is_dev %}
        <div>
            {% if dev_games %}
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            Developed Games
                        </th>
                        <th scope="col" class="extra_col">Global High Score</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in dev_games %}
                        <tr class='clickable-row' data-href="{% url 'game' game.id %}"
                            style="cursor: pointer">
                            <td style="display: grid; grid-template-columns:60px auto;">
                                {% if game.image %}
                                    <img draggable="false" class="table-image-small" src="{{ game.image }}">
                                {% else %}
                                    <img draggable="false" class="table-image-small"
                                         src="{% static 'media/no-image.png' %}">
                                {% endif %}
                                <div>
                                    <span style="font-weight: 700">{{ game.name }}</span>
                                    <br>{{ game.genre }}
                                </div>
                            </td>
                            <td class="extra_col">
                                {% if game.high_score %}
                                    {{ game.high_score.score }}
                                    (
                                    <a href="{% url 'user_profile' game.high_score.player.username %}">{{ game.high_score.player.username }}</a>
                                    )
                                {% else %}
                                    No Scores
                                {% endif %}
                            </td>
                            <td>
                                {% if  user == game.developer %}
                                    <a class="btn btn-outline-info btn-sm" style="margin-top: 0"
                                       href="{% url 'gameEdit' game.id %}">Edit Game</a>
                                {% elif game.price == 0 %}
                                    <a class="btn btn-outline-warning btn-sm" style="margin-top: 0"
                                       href="{% url 'game' game.id %}">Free to Play</a>
                                {% elif game in user.inventory.all %}
                                    <a class="btn btn-outline-success btn-sm" style="margin-top: 0"
                                       href="{% url 'game' game.id %}">Play</a>
                                {% else %}
                                    <a class="btn btn-outline-primary btn-sm" style="margin-top: 0"
                                       href="{% url 'purchase' game.id %}">Buy Game € {{ game.price }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h5>0 games developed.</h5>
                <p>The developer hasn't submitted any games yet.</p>
            {% endif %}
        </div>
        {% with games=user2.inventory.all %}
            <div>
                {% if games %}
                    <table class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                Played Games
                            </th>
                            <th scope="col" class="extra_col">Player High Score</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for game in games %}
                            <tr class='clickable-row' data-href="{% url 'game' game.id %}"
                                style="cursor: pointer">
                                <td style="display: grid; grid-template-columns:60px auto;">
                                    {% if game.image %}
                                        <img draggable="false" class="table-image-small" src="{{ game.image }}">
                                    {% else %}
                                        <img draggable="false" class="table-image-small"
                                             src="{% static 'media/no-image.png' %}">
                                    {% endif %}
                                    <div>
                                        <span style="font-weight: 700">{{ game.name }}</span>
                                        <br>{{ game.genre }}
                                    </div>
                                </td>
                                <td class="extra_col">
                                    {% call_method game 'player_high_score' user %}
                                </td>
                                <td>
                                    {% if  user == game.developer %}
                                        <a class="btn btn-outline-info btn-sm" style="margin-top: 0"
                                           href="{% url 'gameEdit' game.id %}">Edit Game</a>
                                    {% elif game.price == 0 %}
                                        <a class="btn btn-outline-warning btn-sm" style="margin-top: 0"
                                           href="{% url 'game' game.id %}">Free to Play</a>
                                    {% elif game in user.inventory.all %}
                                        <a class="btn btn-outline-success btn-sm" style="margin-top: 0"
                                           href="{% url 'game' game.id %}">Play</a>
                                    {% else %}
                                        <a class="btn btn-outline-primary btn-sm" style="margin-top: 0"
                                           href="{% url 'purchase' game.id %}">Buy Game € {{ game.price }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h5>0 games owned.</h5>
                    <p>The player hasn't played any games yet.</p>
                {% endif %}
            </div>
        {% endwith %}
    {% endif %}
{% endblock %}
{% block main_foot %} {# empty footer #} {% endblock %}


{# Section : Extra Code #}
{% block extra %}
{% endblock %}


{# Section : Logic #}
{% block logic %}
    <script>
        $(document).ready(function () {
            $(".clickable-row").click(function (e) {
                console.log($(this).data('href'));
                window.location = $(this).data('href');
            });

            if ($(window).width() <= 800) {
                $('.extra_col').addClass('hidden');
            }

        });
    </script>
{% endblock %}

