{# Usage: Show User Profile with History #}


{# Load Essentials #}
{% extends 'base.html' %}
{% load static %}
{% load arcadia_tags %}


{# Section : Header #}
{% block title %} Your Profile {% endblock %}
{% block meta %} {# empty MetaTags #} {% endblock %}


{# Section : Sidebar #}
{% block side_head %} Your Profile {% endblock %}
{% block side_body %}
    <div id="game-image"
         style="width: 100%; text-align: center; margin-bottom: 1rem">
        <img id="user_image" draggable="false" src="{{ user.image }}" alt="{{ user.username }}">
    </div>
    <div class="form-group">
        <label>Name:</label>
        {% if user.first_name == '' %}
            <span class="help-text">We don't know your name.
                <a href="{% url 'profileEdit' %}">Update Profile</a></span>
        {% else %}
            {{ user.first_name }} {{ user.last_name }}
        {% endif %}
    </div>
    <div class="form-group">
        <label>Username: {{ user.username }} </label>
        <span class="help-text">{{ user.email }}</span>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <a href="{% url 'password_change' %}">Change</a>
    </div>
    <div class="form-group">
        <label>Account Type:</label>
        {% if user.is_dev == False %}
            Player
        {% else %}
            Developer
        {% endif %}
        <a class="help-text" href="{% url 'profileEdit' %}">Change account type.</a>
    </div>
    <hr>
    <div class="form-group">
        <h5>Total Amount</h5>
        Spent: <label>€ {{ user.amount_spent }}</label>
        {% if user.is_dev %}
            <br> Earned: <label>€ {{ user.amount_earned }}</label>
        {% endif %}
    </div>
{% endblock %}
{% block side_foot %}
    <button type="button" class="btn btn-outline-info btn-block"
            onclick="location.href='{% url 'profileEdit' %}'">
        Update Profile
    </button>
    <button type="button" class="btn btn-danger btn-block" onclick="location.href='{% url 'logout' %}'">
        Logout
    </button>
{% endblock %}


{# Section : Main #}
{% block main_head %}
    Welcome,
    {% if user.first_name == '' %} {{ user.username }}
    {% else %} {{ user.first_name }} {% endif %} !
{% endblock %}
{% block main_body %}
    {% if user.is_dev %}
        <h5 id="trans_dev">Developer Transaction History:</h5>
        {% with transactions=user.transactions_dev %}
            {% if transactions %}
                <table class="table table-striped table-sm table-hover"
                       style="width: 100%; margin-bottom: 0 !important;">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Game</th>
                        <th scope="col" class="extra_col">Player</th>
                        <th scope="col">Amount</th>
                        <th scope="col" class="extra_col">Result</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        {% with result=transaction.payment_result %}
                            {% if result == 'success' %}
                                <tr class=" table-success clickable-row"
                                    data-href="{% url 'game' transaction.game.id %}">
                                    {% elif result == 'error' %}
                                <tr class=" table-danger">
                                    {% else %}
                                <tr class="">
                            {% endif %}
                        <td>{{ transaction.timestamp|date:'d-m-Y, H:i' }}</td>
                        <td>{{ transaction.game }}</td>
                        <td class="extra_col">{{ transaction.player }}</td>
                        <td>€ {{ transaction.amount }}</td>
                        <td class="extra_col">{{ result }}</td>
                        </tr>
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <th colspan="2">Total Amount Earned:</th>
                    <th class="extra_col"></th>
                    <th colspan="1">€ {{ user.amount_earned }}</th>
                    </tfoot>
                </table>
            {% else %}
                <span>No transactions found.</span><br>
                <span class="help-text">Either you have not submitted any games or no other user has purchased your games yet.</span>
            {% endif %}
        {% endwith %}
        <hr>
    {% endif %}
    <h5 id="trans_player">Player Transaction History:</h5>
    {% with transactions=user.transactions_all %}
        {% if transactions %}
            <table class="table table-striped table-sm table-hover"
                   style="width: 100%; margin-bottom: 0 !important;">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Game</th>
                    <th scope="col">Amount</th>
                    <th scope="col" class="extra_col">Result</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    {% with result=transaction.payment_result %}
                        {% if result == 'success' %}
                            <tr class=" table-success clickable-row" data-href="{% url 'game' transaction.game.id %}">
                                {% elif result == 'error' %}
                            <tr class=" table-danger">
                                {% else %}
                            <tr class="">
                        {% endif %}
                    <td>{{ transaction.timestamp|date:'d-m-Y, H:i' }}</td>
                    <td>{{ transaction.game }}</td>
                    <td>€ {{ transaction.amount }}</td>
                    <td class="extra_col">{{ result }}</td>
                    </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
                <tfoot>
                <th colspan="2">Total Amount Spent:</th>
                <th colspan="1">€ {{ user.amount_spent }}</th>
                </tfoot>
            </table>
        {% else %}
            <span>No transactions found.</span><br>
            <span class="help-text">You might wanna explore the store.</span>
        {% endif %}
    {% endwith %}
{% endblock %}
{% block main_foot %}
{% endblock %}


{# Section : Extra Code #}
{% block extra %}
    {% if user.is_authenticated %}
        <div id="snackbar"></div>
    {% endif %}
{% endblock %}


{# Section : Logic #}
{% block logic %}
    <script>
        $(document).ready(function () {
            let params = (new URL(document.location)).searchParams;
            let redirect = params.get("redirect");

            if (redirect && redirect.includes('activate')) {
                var x = document.getElementById("snackbar");
                x.textContent = "Account activated!";
                x.className = "show";
                setTimeout(function () {
                    x.className = x.className.replace("show", "");
                }, 3000);
            }

            if ($(window).width() <= 800) {
                $('.extra_col').addClass('hidden');
            }

            $(".clickable-row").click(function (e) {
                window.location = $(this).data('href');
            });
        });

    </script>
{% endblock %}
