{% extends 'base.html' %}

{% block title %}
Explore
{% endblock %}

{% block nav-desktop %}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="#">Explore</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Library</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">Profile</a>
    </li>
</ul>
{% endblock %}

{% block nav-mobile %}
<div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item active" href="#">Explore</a>
        <a class="dropdown-item" href="#">Library</a>
        <a class="dropdown-item" href="#">Profile</a>
    </div>
</div>
{% endblock %}

<!--Sidebar-->
{% block sidebar %}
{% if user.is_authenticated %}
<div class="heading">
    <h2>Filter Games</h2>
    <hr>
</div>
<div class="scrollable">
    <h5>Select Genre: </h5>
    <ul class="list-unstyled">
        <li>All Games</li>
        <li>Free to Play</li>
        <li>Action</li>
        <li>Adventure</li>
        <li>Casual</li>
        <li>Indie</li>
        <li>Multiplayer</li>
        <li>Racing</li>
        <li>RPG</li>
        <li>Simulation</li>
        <li>Sports</li>
        <li>Simulation</li>
    </ul>
</div>
{% else %}
<script type="text/javascript">
    window.location = "{% url 'login' %}"
</script>
{% endif %}
{% endblock %}

<!--Main Block-->
{% block main %}
{% if user.is_authenticated %}
<div class="heading">
    <h1>Explore Games</h1>
    <hr>
</div>
<div class="scrollable">
    <div class="game-list grid--auto-fit">
        <div class="game-list-item">
            <img src="BG.png">
            <button class="list-action btn btn-primary">
                Buy €10,00
            </button>
            <div class="information">
                Game Genre
                <h4>Game Name</h4>
            </div>
        </div>
        <div class="game-list-item">
            <img src="no-image.png">
            <button class="list-action btn btn-primary">
                Buy €10,00
            </button>
            <div class="information">
                <span>Racing</span>
                <h4>Space Warriors: To the End</h4>
            </div>
        </div>
        <div class="game-list-item">
            <img src="no-image.png">
            <button class="list-action btn btn-success">
                Play
            </button>
            <div class="information">
                Game Genre
                <h4>Game Name</h4>
            </div>
        </div>
        <div class="game-list-item">
            <img src="no-image.png">
            <button class="list-action btn btn-primary">
                Buy €10,00
            </button>
            <div class="information">
                Game Genre
                <h4>Game Name</h4>
            </div>
        </div>
        <div class="game-list-item">
            <img src="no-image.png">
            <button class="list-action btn btn-primary">
                Buy €10,00
            </button>
            <div class="information">
                Game Genre
                <h4>Game Name</h4>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="heading">
    <h1>Hey! Sneaky Person.</h1>
    <hr>
</div>
<div class="scrollable">
    <p>You are not logged in</p>
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='{% url 'login' %}'">
        Login
    </button>
</div>
{% endif %}
{% endblock %}