body {
    background-color: #E8E4EE !important;
    font-family: 'Montserrat', sans-serif !important;
    margin: 0 !important;
    height: 100vh !important;
}

#page > header {
    grid-area: head;
    background-color: #6E42C0;
    padding: 10px 20px 0;
    display: flex;
    justify-content: space-between;
}

#page > aside {
    grid-area: side;
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 60px 1fr;
    /*flex: 80px 1fr;*/
}

.floater {
    justify-self: center;
    align-self: center;
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 60px 1fr;
}

#page > main {
    grid-area: main;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 60px 1fr;
}

#page > footer {
    grid-area: foot;
    text-align: center;
    align-self: center;
    padding-top: 0;
    background-color: inherit;
}

/* Desktop Layout */
@media (min-width: 801px) {
    body {
        overflow: hidden;
    }

    #page {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-areas: "head head" "side main" "foot  foot";
        grid-template-rows: 60px 1fr;
        grid-template-columns: 300px 1fr;
    }

    .navigation {
        display: block;
    }

    .navigation-mobile {
        display: none;
    }

    #page > main {
        margin: 20px 20px 20px 0;
        overflow-y: hidden;
    }

    aside {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .heading {
        overflow-y: hidden;
        position: relative;
    }

    .scrollable {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

/* Mobile Layout */
@media (max-width: 800px) {
    #page {
        display: grid;
        width: 100%;
        grid-template-areas: "head" "main" "side" "foot";
        grid-template-rows: 60px auto auto;
        grid-template-columns: 1fr;
    }

    .navigation {
        display: none;
    }

    .navigation-mobile {
        display: block;
    }

    #page > main {
        margin: 20px;
    }
}

.logo {
    height: 50px;
}

.navigation {
    color: #E8E4EE;
}

.nav {
    height: 100%;
}

.nav-item {
    padding-left: 1rem;
}

.nav-link {
    height: 100%;
    padding: 0.5rem;
}

.navigation a {
    color: #E8E4EE;
    font-weight: 500;
}

.navigation a.active {
    color: #ffffff;
    border-bottom: #E8E4EE solid 5px;
}

.navigation a:hover {
    color: #ffffff;
}

.dropdown-item {
    color: #6E42C0 !important;
}

.dropdown-item.active {
    color: #ffffff !important;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #6E42C0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #343A3E;
}

h4 {
    font-size: 1.125rem;
    font-weight: 700;
    color: #ffffff;
}

h5 {
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: #343A3E !important;
}

.registration {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
}

.help-text {
    color: gray;
}

label {
    font-size: 1rem;
    font-weight: 500;
    color: #343A3E;
}

input, textarea, select {
    border: 0px solid rgba(0,0,0,0.25);
    background-color: #E8E4EE;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    padding: 10px;
}

input:focus {
    outline: #6E42C0 auto 1px;
}

#search-game > input {
    padding: 10px 30px;
    height: 40px !important;
}

#search-game > div {
    position: absolute;
    top: 0;
    padding: 7px;
}
#search-game > div > img {
    width: 16px
}

.genres > li {
    line-height: 1.5 !important;
}

.hidden {
    display: none !important;
}

.game-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: inherit;

}

.game-list-item {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 10px;
    background-color: #6E42C0;
    position: relative;
    transition: all .2s ease-in-out;
    transform: scale(0.975);
}

.game-list-item:hover{
    transform: scale(1);
    box-shadow: rgba(0,0,0,0.25) 0 0 20px 2px;
}

.game-list-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.information {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
    padding: 10px 20px;
    color: #ffffff;

}

.list-action {
    position: absolute;
    top: 10px;
    right: 10px;
}

.button {
    z-index: 10;
}

.shown {
    display: block !important;
}

/* Snackbar */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #fff;
    color: #343A3E;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 20;
    left: 50%;
    top: 30px;
    font-size: 1rem;
    box-shadow: #6E42C0 0 0 20px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}