{# Usage: To allow users to purchase a game #}


{# Load Essentials #}
{% extends 'base.html' %}
{% load static %}
{% load arcadia_tags %}


{# Section : Header #}
{% block title %} Checkout {% endblock %}
{% block meta %} {# empty MetaTags #} {% endblock %}


{# Section : Sidebar #}
{% block side_head %} Game {% endblock %}
{% block side_body %}
    <!-- Show Current Game -->
    {% include 'include/game_badge_sidebar.html' %}
{% endblock %}
{% block side_foot %} {# empty footer #} {% endblock %}


{# Section : Main #}
{% block main_head %} Checkout {% endblock %}
{% block main_body %}
    {% if game.price == 0 %}
        <script type="text/javascript">
            window.location = "{% url 'game' game.id %}?redirect=free"
        </script>
    {% endif %}
    {% if game in user.inventory.all or user == game.developer %}
        <h5>Why do you want to purchase your game?</h5>
        We do like money but this is too much to handle. Kindly go back. <br>
        <a href="javascript:history.back()" class="btn btn-outline-primary">Go Back</a>
    {% else %}
        <h5>Great Choice!</h5>
        <p>Check form for the details and click purchase to complete the transaction.</p>
        <div class="registration">
            <div class="form-group">
                <label for="id_player">User</label>
                <input type="text" id="id_player" name="user" value="{{ user.username }}" disabled/>
            </div>
            <div class="form-group">
                <label for="id_game">Game</label>
                <input type="text" id="id_game" name="game" value="{{ game.name }}" disabled/>
            </div>
            <div class="form-group">
                <label for="id_method">Payment Method</label>
                <input type="text" id="id_method" name="method" value="Arcadia Balance" disabled/>
            </div>
            <div class="form-group">
                <label for="id_amount">Amount (€)</label>
                <input type="text" id="id_amount" name="amount" value="{{ game.price }}" disabled/>
            </div>
        </div>
        <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="post"
              class="registration" id="checkout-form">
            {% csrf_token %}

            {# Hidden Fields #}
            <input type="hidden" name="pid" value="{{ pid }}"/>
            <input type="hidden" name="sid" value="{{ sid }}"/>
            <input type="hidden" name="success_url"
                   value="{{ success_url }}"/>
            <input type="hidden" name="cancel_url"
                   value="{{ cancel_url }}"/>
            <input type="hidden" name="error_url"
                   value="{{ error_url }}"/>
            <input type="hidden" name="checksum"
                   value="{{ checksum }}"/>
            <input type="hidden" name="amount"
                   value="{{ amount }}"/>
        </form>
        <div class="flex_space_between">
            <button type="submit" class="btn btn-primary btn-lg"
                    onclick="$('#checkout-form').submit()">Purchase
            </button>

            <a class="btn btn-outline-secondary btn-lg" href="javascript:history.back()">Cancel</a>

        </div>
    {% endif %}
{% endblock %}
{% block main_foot %} {# empty footer #} {% endblock %}


{# Section : Extra Code #}
{% block extra %}
    {% if not user.is_authenticated %}
        <script type="text/javascript">
            window.location = "{% url 'login' %}?next={% firstof request.path '/' %}&redirect=access"
        </script>
    {% endif %}
{% endblock %}


{# Section : Logic #}
{% block logic %} {# empty logic #} {% endblock %}


